[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Docker Switcher
Comment=Switch status of Docker
Type=Application
Exec=/opt/Docker.sh
Icon=gnome-system.png
